/* 覆盖user agent stylesheet的margin:8px*/
body {
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.page-group.page-current,
.page.page-current {
  overflow: hidden;
  background-color: #ffffff;
}

body,
p,
h1,
ul,
li {
  margin: 0;
  padding: 0
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.veritas_bg {
  /*background-image: url("../images/nomembersta_bg.png");
  background-size: 100% 100%;*/
  background-color: rgba(255, 0, 0, 0.2);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.main_bg {
  background-color: rgba(0, 0, 0, 0.2);
  height: 74vh;
  width: 80vw;
  margin: 3vh 5vw;
  padding: 5vw;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 4px solid;
  border-image: -webkit-linear-gradient(90deg, #0000ff, #ff0000) 5 10;
  border-image: -moz-linear-gradient(90deg, #0000ff, #ff0000) 5 10;
  border-image: linear-gradient(90deg, #0000ff, #ff0000) 5 10;
}

.main_title {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2vh;
}

.main_title_font {
  max-width: 50vw;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.linear_gradients {
  width: 20vw;
  padding-bottom: 2px;
  border-bottom: 2px solid;
  border-image: -webkit-linear-gradient(90deg, #0000ff, #ff0000) 5 10;
  border-image: -moz-linear-gradient(90deg, #0000ff, #ff0000) 5 10;
  border-image: linear-gradient(90deg, #0000ff, #ff0000) 5 10;
}

.cc_bg {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

input::-webkit-input-placeholder {
  color: #fff;
  padding-left: 8px;
}

input:focus {
  outline: none;
}

.bottom {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  height: 28vh;
  background: url('../images/bottom_img.png');
  background-size: 100% 100%;
}

.img-wrapper {
  position: absolute;
  bottom: 0;
  right: 2vh;
}